@import "https://js.arcgis.com/4.27/@arcgis/core/assets/esri/themes/dark/main.css";


html, body, #heading, #root {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #0098db;
}

.header {
  text-align: left;
  background: #0c4c7c;
  color: rgb(255, 255, 255);
  height: 44px;
  display: flex;
  align-items: center;
  font-weight: bolder;
  font-size: 12pt;
}

.header img {
  height: 40px;
  margin: 0 8px 0 8px;
}


#viewDiv {
  padding: 0;
  margin: 0;
  height: calc(100% - 44px);
  width: 100%
}
/* #bgExpand{
  position: absolute;
  top: 190px;
  left: 15px;
} */

#topbar {
  background: #fff;
  position: absolute;
  top: 102px;
  left: 60px;
}

.action-button {
  font-size: 16px;
  background-color: transparent;
  border: 1px solid #d3d3d3;
  color: #6e6e6e;
  height: 32px;
  width: 32px;
  text-align: center;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}

.action-button:hover,
.action-button:focus {
  background: #0079c1;
  color: #e4e4e4;
}

.active {
  background: #0079c1;
  color: #e4e4e4;
}

/* #searchWidget{
  display: block;
  position: absolute;
  z-index: 3;
  top: 55px;
  left: 70px;
} */

/* #homeBtn{
  position: absolute;
  top: 95px;
  left: 15px;
  z-index: 50;
} */

/* #locateBtn{
  position: absolute;
  top: 135px;
  left: 15px;
  z-index: 50;
} */

#uploadExpand{
  position: absolute;
  top: 102px;
  left: 140px;
  /* z-index: 5; */
}

#mainWindow {
  padding: .1em;
  background-color: #fff;
}

#mainWindow p, #uploadForm {
    display: block;
    padding: .1em;
}

#infoDiv {
  position: absolute;
  top: 15px;
  left: 60px;
}

#infoDiv input {
  border: none;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px;
}

